#topBanner{
  width: 100%;
  min-width: 1200px;
  height: 974px;
  background: url(../A6e-tronimg/topbanner.png) center/cover;
}

#topBanner .container{
  padding: 62px 0 52px;
}
#topBanner .container > h2{
  font-size: 40px;
  font-weight: 100;
  color: #111;
  margin-bottom: 33px;
}
#topBanner .container > h1{
  font-weight: 100;
  color: #111;
  font-size: 80px;
  margin-left: 25px;
}

#topBanner .container .underpannel{
  margin-top: 500px;
}

#topBanner .container .underpannel p{
  font-size: 50px;
}

#topBanner .container .underpannel .siteBtn{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 13px;
}
#topBanner .container .underpannel .siteBtn li{
border: 1px solid #fff;
padding: 16px 32px;
}
#topBanner .container .underpannel .siteBtn li:nth-child(1){
background-color: #000;
border: none;
}
#topBanner .container .underpannel .siteBtn li a{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

#topBanner .container .underpannel .catalogbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 37px;
}
#topBanner .container .underpannel .catalogbtn li{
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #888;
}
#topBanner .container .underpannel .catalogbtn .active{
  background-color: #fff;
}


#topBanner .container .underpannel .siteBtn img{
  width: 24px;
  margin-right: 12px;
}