footer{
  width: 100%;
  min-width: 1200px;
  background-color: #000;
}

footer .container{
  padding: 37px 0;
}
footer .footerMenu{
  display: flex;
  justify-content: space-between;
}
footer .footerMenu li{
  font-variation-settings: "wgth" 100, "wdth" 130;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 300;
}
footer .footerMenu .title{
  margin-bottom: 34px;
  font-size: 19px;
  font-weight: 400;
}

/* ======================================================================= */
/* footerBuisness */
footer .footerBuisness .buisnessTop{
  display: flex;
  justify-content: space-between;
  position: relative;
  border-bottom: 1px solid #444;
  margin-bottom: 26px;
}
footer .footerBuisness .buisnessTop h3{
  margin-bottom: 35px;
  font-size: 18px;
}
footer .footerBuisness .buisnessTop p{
  font-size: 13px;
  line-height: 3em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
  margin-bottom: 26px;
  font-variation-settings: "wght" 300, "wdth" 110;
}

footer .footerBuisness .buisnessTop .buisTopRight{
  position: absolute;
  right: 0;
  bottom: 18px;
}
footer .footerBuisness .buisnessTop .buisTopRight a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #222;
  border: 1px solid #333;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

/* ============================================================== */
/* buisnessBot */

footer .footerBuisness .buisnessBot > span{
  white-space: pre;
  font-size: 13px;
  font-variation-settings: "wght" 300, "wdth" 110;
}