/* header */
header{
  background-color: #000;
  width: 100%;
  min-width: 1200px;
}
header .container{
  display: flex;
  align-items: center;
  padding: 30px 0;
}

/* =================================== */

/* logo */

.logo > a > img{
  width: 85px;
  height: 30px;
  margin-right: 30px;
}


/* =================================== */

/* nav */

nav{
  display: flex;
  justify-content: space-between;
  width: 1070px;
}

/* =================================== */

/* gnb */

.gnb{
  display: flex;
  gap: 30px;
align-items: center;
}

.gnb  li{
display: flex;
}

.gnb  li a{
  font-family: "AudiType", "gmarketmedium";
  font-size: 16px;
  font-variation-settings:
  "wght" 500,
  "wdth" 130;
  font-weight: 500;
}

.gnb img{
  width: 26px;
  transform: translateY(4px);
}

/* =================================== */

/* option */

.option{
  display: flex;
  align-items: center;
  gap: 15px;
}
.option img{
  height: 18px;
}
.option li{
  font-family: "gmarketbold";
  font-size: 14px;
}

.option li a img{
  transform: translateY(4px);
}
.option li:nth-child(2) a img{
padding-right: 6px;
}