#Select{
  width: 100%;
  min-width: 1200px;
}

#Select .container{
padding: 57px 0 135px;
}

#Select .title{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
#Select .title h1{
  font-size: 32px;
  font-weight: 100;
}
#Select .title .selectTxt{
  display: flex;
  gap: 30px;
  margin-bottom: 13px;
}
#Select .title .selectTxt .active{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#Select .selectModelCard{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
}
#Select .selectModelCard .modelCard{
  width: 366px;
  height: 366px;
  background-color: #111;
  border: 1px solid #333;
}
#Select .selectModelCard .modelCard p{
  font-size: 22px;
  margin: 40px 30px 26px;
}
#Select .selectModelCard .modelCard a{
  font-size: 16px;
  margin: 0 30px;
  font-weight: 300;
}

#Select .selectModelCard .modelCard .centertxt{
  text-align: center;
  display: inline-block;
  background-color: #000;
  border: 1px solid #fff;
  padding: 12px 116px;
  margin-left: 28px;
  margin-bottom: 15px;
  white-space: nowrap;
}

#Select .selectModelCard .modelCard img{
width: 366px;
margin-bottom: 30px;
}
