@font-face {
  font-family: "AudiType";
  src: url("../font/AudiTypeVF_4.04.woff2") format("woff2");
  font-weight: 100 900;   /* ← 중요: 범위로 선언 */
  font-stretch: 75% 125%; /* wdth 축이 있을 경우 */
  font-style: normal;
  /* unicode-range: U+0061-007A, U+0041-005A, U+0030-0039; 기본 라틴 + 숫자 */
  }
@font-face {
  font-family: "gmarketB";
  src: url("../font/GmarketSansBold.woff") format("woff");
  font-style: normal;
    font-weight: normal;
    /* unicode-range: U+AC00-D7A3; 한글 음절 */
    }
@font-face {
  font-family: "gmarketM";
  src: url("../font/GmarketSansMedium.woff") format("woff");
  font-style: normal;
    font-weight: normal;
    }
@font-face {
  font-family: "gmarketL";
  src: url("../font/GmarketSansLight.woff") format("woff");
  font-style: normal;
    font-weight: normal;
    }

    
    *{
      margin: 0; padding: 0;
      box-sizing: border-box;
      color: #fff;
      /* outline: 1px solid rgba(255,0,0,0.5); */
    }
    
    body{
      background-color: #101319;
      font-variation-settings: "wgth" 100, "wdth" 130;
      font-family: "AudiType";
      }

ul,li{
  list-style: none;
}
a{text-decoration: none;
}

button{
  border: none;
  outline: none;
}

.container{
  width: 1200px;
  margin: auto;
  padding: 100px 20px;
}


